.container {
	background-color: #222222;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.outer-box {
	background-color: white;
	width: 500px;
	height: 700px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	border-radius: 5px;
}
